.git
.github
.idea
.vscode

node_modules
**/node_modules
.pnpm-store
dist
**/dist
build
**/build
coverage
**/coverage
.turbo
.vite
*.tsbuildinfo
apps/api/src/generated/prisma

.env
.env.*
!.env.example
*.crt
*.key
*.p12
*.pem

playwright-report
test-results

*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db
